@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?sroe45');
  src:  url('../fonts/icons.eot?sroe45#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?sroe45') format('truetype'),
    url('../fonts/icons.woff?sroe45') format('woff'),
    url('../fonts/icons.svg?sroe45#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-BedRoom:before {
  content: "\e900";
}
._icon-DiningRoom:before {
  content: "\e901";
}
._icon-Hallway:before {
  content: "\e902";
}
._icon-Kitchen:before {
  content: "\e903";
}
._icon-LivingRoom:before {
  content: "\e904";
}
._icon-Office:before {
  content: "\e905";
}
